* { padding: 0; margin: 0; }

body {
  background-color: #33333f;
  font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
}

a, a:visited { text-decoration: none; color: #7533f4; }
a:hover { text-decoration: underline; color: #f4b014; }
img { max-width: 100%; }
img, a.img, a:hover.img { border: none; }

h1, h2, h3, h4, h5 {
  color: #492a7c;
  background-color: inherit;
  font-weight: normal;
  padding: 0 0 5px 0;
  margin: 15px 0 0 0;
  border: none;
  clear: right;
}
h1 { font-size: 18pt; margin:  5px 0 10px 0; line-height: 28px; }
h2 { font-size: 14pt; margin: 30px 0 15px 0; letter-spacing: 0.01em; border-bottom: 1px solid #ccc;  line-height: 20px;}
h3 { font-size: 13pt; }
h4 { font-size: 12pt; }
h5 { font-size: 11pt; }
p { margin: 0 0 10px 0; }
hr { border: 0px; border-top: 1px solid #ccc; height: 0px; }
ol { margin: 1em; }

.content {

  padding: 15px 20px;
  background-color: #ffffff;
}

  
@media (min-width: 550px) {
  .alpha.columns, .alpha.column { margin-left: 0; }
}



/* PROTOTYPE SPECIFIC STYLING */

line {
  stroke-width: 1;
  stroke: black;
}

#graphContainer {
  border-right: 1px solid grey;
}



